@model Omnae.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}

<div class="offset-md-2 col-md-8 top-margin-30">
    <div class="card">
        <h4 class="card-header primary-background-color white-text text-md-center">
            <i class="fas fa-question"></i> @ViewBag.Title
        </h4>

        <div class="card-block">
            <div class="offset-md-1 col-md-10 top-margin-20">            

                @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                    <h4><i class="fas fa-pencil-alt"></i> Enter your email</h4>


                    <br />
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="md-form">
                        <i class="fas fa-at prefix"></i>
                        @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    </div>
                    <div class="text-xs-center">
                        <button type="submit" class="btn accent-background-color buttonWidth top-margin-30">Submit</button>
                    </div>
                }

            </div>
        </div>
    </div>
</div>
