@model Omnae.ViewModels.CreateAccountForCustomerViewModel
@{
    ViewBag.Title = "Register";
}

<div class="offset-md-2 col-md-8 top-margin-30">
    <div class="card">

        <h4 class="card-header primary-background-color white-text text-md-center"><i class="fas fa-user-plus"></i> Sign Up</h4>
        <div class="card-block">

            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="offset-md-1 col-md-10">
                    @if (ViewBag.ErrorMessage != null)
                    {
                        <div class="red-text">@ViewBag.ErrorMessage</div>
                    }
                    <br />
                    <!--Form without header-->

                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <!--Body-->
                    @Html.Partial("_AccountRegister", Model)

                    <div class="col-md-12 text-xs-center top-margin-20">Terms and Conditons  <a id="plusminus" class="red-text" href="" style="text-decoration:none;"><i class="fas fa-plus-square"></i></a></div>
                    <div class="col-md-12">
                        <div id="termConditon" class="md grey-text small">
                            @Html.Partial("~/Views/Account/_TermCondition.cshtml")
                            <input type="checkbox" id="chkcondition" name="chkcondition" value="true">
                            <label class="link light-green-text pull-right" for="chkcondition">I Accept</label>
                        </div>
                    </div>

                    <div class="offset-md-4 col-md-4 text-xs-center top-margin-30">
                        <button type="submit" onclick="javascript:return AcceptTermAndcondition();" class="btn accent-background-color buttonWidth2 top-margin-30">Sign Up</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>


<script language="javascript" type="text/javascript">
    function AcceptTermAndcondition() {

        if ($("#chkcondition").is(':checked')) {
            return true;
        }
        else {
            alertify.alert("Please accept Terms and Conditions");
            return false;
        }
    };

    $(function () {
        $events = $('div#termConditon');
        $events.hide();

        $('a#plusminus').click(function () {
            $events.animate({ opacity: 'toggle', height: 'toggle' }, 2000);

            if ($(this).find($('.fa-minus-square')).hasClass('fa-minus-square')) {
                $(this).find($('.fa-minus-square')).removeClass('fa-minus-square').addClass('fa-plus-square');
            }
            else if ($(this).find($('.fa-plus-square')).hasClass('fa-plus-square')) {
                $(this).find($('.fa-plus-square')).removeClass('fa-plus-square').addClass('fa-minus-square');
            }

            return false;
        });
    });
</script>

