@model Omnae.ViewModels.ChangeShippingDatesForCustomerViewModel
@{
    ViewBag.Title = "ChangeEstDatesForCustomer";
}

<style>
    .newdate {
        display: none;
    }
</style>

<div class="offset-md-2 col-md-8 top-margin-30">
    <div class="card">
        <h5 class="card-header primary-background-color white-text text-md-center"><i class="fas fa-pencil-alt"></i> Change Est. Completion Date for Customer</h5>
        <div class="card-block">
            <div class="top-margin-30">
                @if (TempData["ErrorMessage"] != null)
                {
                    <div class="red-text">@TempData["ErrorMessage"].ToString()</div>
                }
                @using (Html.BeginForm("ChangeEstDatesForCustomer", "Home", FormMethod.Post, new
                {
                    id = "ChangeEstDatesForCustomerForm",
                    enctype = "multipart/form-data",
                }))
                {
                    @Html.AntiForgeryToken()


                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div>
                        <div class="col-md-5">
                            @Html.DropDownListFor(model => model.CustomerId, ViewBag.Customers as SelectList, "-- Select Customer --", new { @class = "btn grey-background-color dropdown-toggle col-md-12" })
                            @Html.ValidationMessageFor(model => model.CustomerId, "", new { @class = "text-danger" })
                        </div>

                        <div id="orders" class="col-md-7"></div>

                        <div class="md-form col-md-12 newdate">
                            <div class="col-md-5 top-margin-50">Choose a new date for Estimate Completion:</div>
                            <div class="col-md-7 top-margin-50">
                                @Html.EditorFor(model => model.DateToChange, new { name = "DateToChange", value = "@Model.DateToChange", @id = "DateToChange", @class = "form-control col-md-12" })
                            </div>
                        </div>
                    </div>
                    <div class="text-md-center newdate">
                        <button type="submit" class="btn accent-background-color buttonWidth top-margin-100">Submit</button>
                    </div>
                }
                @if (TempData["Result"] != null)
                {
                    <div class="col-md-12 green-text text-md-center top-margin-30">@TempData["Result"].ToString()</div>
                }
            </div>
        </div>
    </div>
</div>



<script type="text/javascript">
    $(function () {
        $('#DateToChange').datepicker();
    });

    $("select")
        .change(function () {
            $('#spinner').show();
            var companyId = $("select option:selected").val();
            var $url = '//' + window.location.host + '/Home/GetOrderEstCompletionDates';
            
            $.ajax({
                type: 'GET',
                url: $url,
                data: { 'companyId': companyId },
                success: function (result) {
                    $('#spinner').hide();
                    //$('.newdate').css({ 'display': 'inline-block'})

                    if (result.indexOf('This customer has no order yet') > 0) {
                        alertify.alert('This customer has no order yet')
                        return false;
                    }
                    else {
                        $('#orders').html(result);
                        $('.newdate').show(500);
                    }
                },
                error: function (error) {
                    $('#spinner').hide();
                    alertify.error(error.statusCode);
                }
            });
        });

</script>
