@model Omnae.ViewModels.OmnaeInvoiceViewModel

@{
    ViewBag.Title = "Invoice Detail";
}



@if (Model != null)
{

    var total = Model.UnitPrice * Model.Quantity + Model.ToolingSetupCharges;

    <fieldset class="scheduler-border">
        <legend class="grey-text scheduler-border">Invoice</legend>

        <div class="col-xs-12 top-margin-20">
            <div class="no-padding">
                <h5 class="col-xs-6">@Model.CompanyName</h5>
                <h5 class="col-xs-6">@Model.Email</h5>
            </div>
            <div class="col-xs-4"></div>
        </div>
        <div class="col-xs-3 top-margin-20">
            <div class="col-xs-12">
                <span class="font-weight-bold">Billing Address</span><br />
                <span>
                    @Model.BillAddr.AddressLine1<br />
                    @Model.BillAddr.AddressLine2<br />
                    @Model.BillAddr.City<br />
                    @Model.BillAddr.Country.CountryName<br />
                </span>
            </div>
        </div>
        <div class="col-xs-9 top-margin-20">
            <div>
                <div class="col-xs-2">
                    <span class="font-weight-bold">Terms</span><br />
                    <span>
                        @Model.Term (days)
                    </span>
                </div>
                <div class="col-xs-2">
                    <span class="font-weight-bold">Invoice Date</span><br />
                    <span>
                        @Model.InvoiceDate.ToString("MM/dd/yyyy")<br />
                    </span>
                </div>
                <div class="col-xs-2">
                    <span class="font-weight-bold">Due Date</span><br />
                    <span>
                        @Model.DueDate.ToString("MM/dd/yyyy")<br />
                    </span>
                </div>
                <div class="col-xs-3">
                    <span class="font-weight-bold">Payment Method</span><br />
                    <span>
                        @Model.PaymentMethod<br />
                    </span>
                </div>
                <div class="col-xs-3">
                    <span class="font-weight-bold">Status</span><br />
                    @if (Model.IsOpen == true)
                    {
                        <span class="red-text">Open</span>
                    }
                    else
                    {
                        <span class="green-text">Closed</span>
                    }
                </div>
            </div>
            <br />
            <br />
            <div class="top-margin-20">
                <div class="col-xs-2">
                    <span class="font-weight-bold">Ship Via</span><br />
                    <span class="col-xs-12">@Model.ShipVia</span>
                </div>
                <div class="col-xs-2">
                    <span class="font-weight-bold">Shipping Date</span><br />
                    @if (Model.ShippingDate != null)
                    {
                        <span>
                            @Model.ShippingDate.Value.ToString("MM/dd/yyyy")<br />
                        </span>
                    }
                </div>
                <div class="col-xs-2">
                    <span class="font-weight-bold">Tracking No.</span><br />
                    <span>
                        @Model.TrackingNo<br />
                    </span>
                </div>
                <div class="col-xs-3">
                    <span class="font-weight-bold">Payment Ref. No.</span><br />
                    <span>
                        @Model.PaymentRefNumber<br />
                    </span>
                </div>
                <div class="col-xs-3">
                    <span class="font-weight-bold">Closed Date</span><br />
                    <span>
                        @Model.ClosedDate<br />
                    </span>
                </div>
            </div>
        </div>

        <div class="col-xs-12 top-margin-20">

            <div class="col-xs-12 card-header secondary-color pull-left white-text status-title">
                <span class="col-xs-2 no-padding">Product</span>
                <span class="col-xs-1 no-padding">Part No.</span>
                <span class="col-xs-1 no-padding">Part Rev.</span>
                <span class="col-xs-4 no-padding">Description</span>
                <span class="col-xs-2 no-padding">Quantity</span>
                <span class="col-xs-2 no-padding">Unit Price</span>

            </div>
            <div class="small">
                @if (Model.Quantity > 1 && Model.UnitPrice > 0)
                {
                    <div class="col-xs-12 line">
                        <span class="col-xs-2 no-padding">@Model.ProductName</span>
                        <span class="col-xs-1 no-padding">@Model.PartNumber</span>
                        <span class="col-xs-1 no-padding">@Model.PartRevision</span>
                        <span class="col-xs-4 no-padding">@Model.ProductDescription</span>
                        <span class="col-xs-2 no-padding green-text">@Model.Quantity</span>
                        <span class="col-xs-2 no-padding green-text">@string.Format("{0:F3}", Model.UnitPrice)</span>
                    </div>
                }
                else
                {
                    <div class="col-xs-12 line">
                        <span class="col-xs-2 no-padding">@Model.ProductName</span>
                        <span class="col-xs-1 no-padding">@Model.PartNumber</span>
                        <span class="col-xs-1 no-padding">@Model.PartRevision</span>
                        <span class="col-xs-4 no-padding">Tooling Setup Charges</span>
                        <span class="col-xs-2 no-padding green-text">1</span>
                        <span class="col-xs-2 no-padding green-text">@string.Format("{0:C}", Model.ToolingSetupCharges)</span>
                    </div>
                }

                <div class="col-xs-12 line">
                    <div class="col-xs-10">
                        <span class="col-xs-2 pull-right">Sub Total:</span>
                    </div>
                    <div class="col-xs-2 no-padding">
                        <span class="col-xs-12 green-text">
                            @string.Format("{0:C}", total)
                        </span>
                    </div>
                </div>
                <div class="col-xs-12 line">
                    <div class="col-xs-10">
                        <span class="col-xs-2 pull-right">Sales Tax:</span>
                    </div>
                    <div class="col-xs-2 no-padding">
                        <span class="col-xs-12 green-text">
                            @string.Format("{0:C}", Model.SalesTax)
                        </span>
                    </div>
                </div>
                <div class="col-xs-12 line">
                    <div class="col-xs-10">
                        <span class="col-xs-2 pull-right">Total:</span>
                    </div>
                    <div class="col-xs-2 no-padding">
                        <span class="col-xs-12 green-text">
                            @string.Format("{0:C}", total + Model.SalesTax)
                        </span>
                    </div>
                </div>
            </div>
        </div>

    </fieldset>
}
else
{
    if (TempData["ErrorMessage"] != null)
    {
        <div class="red-text text-md-center font-weight-bold top-margin-30">@TempData["ErrorMessage"].ToString()</div>
    }
}

