@model Omnae.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Create a Password";
}

<div class="offset-md-2 col-md-8 top-margin-30">
    <div class="card">
        <h4 class="card-header primary-background-color white-text text-md-center">
            <i class="far fa-edit"></i> @ViewBag.Title
        </h4>
        <div class="card-block">
            <div class="offset-md-2 col-md-8 top-margin-30">


                @using (Html.BeginForm("CreatePassword", "Account", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Code)
                    @Html.HiddenFor(model => model.Email)

                    @*<div class="md-form">
                        <i class="fas fa-at prefix"></i>
                        @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                        @Html.LabelFor(m => m.Email, new { @class = "form-control" })
                    </div>*@
                    <div class="md-form">
                        <i class="fas fa-key prefix"></i>
                        @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })

                    </div>
                    <div class="md-form">
                        <i class="fas fa-key prefix"></i>
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })

                    </div>
                    <div class="md-form text-xs-center">
                        <button type="submit" class="btn accent-background-color buttonWidth2">Create a password</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
