@model Omnae.ViewModels.TaskDataViewModel

@{
    ViewBag.Title = "Create TaskData";
}

<div class="row top grey-text">
    <div class="offset-md-4 col-md-4">

        <!--Form without header-->
        <div class="card-block">

            <!--Header-->
            <div class="text-xs-center">
                <h3><i class="fa fa-pencil-square-o  fa-2x"></i> Create a new TaskData</h3>
            </div>
            <br />

            @using (Html.BeginForm("Create", "TaskDatas", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="md-form">
                    @Html.LabelFor(model => model.StateId, htmlAttributes: new { @class = "control-label" })
                    @Html.EnumDropDownListFor(model => model.StateId, htmlAttributes: new { @class = "form-control my-form-control" })
                    @Html.ValidationMessageFor(model => model.StateId, "", new { @class = "text-danger" })
                </div>

                @*<div class="md-form">
                    @Html.LabelFor(model => model.ProductId, htmlAttributes: new { @class = "control-label" })
                    @Html.DropDownListFor(model => model.ProductId, (IEnumerable<SelectListItem>)@ViewBag.Products, htmlAttributes: new { @class = "form-control my-form-control" })
                    @Html.ValidationMessageFor(model => model.ProductId, "", new { @class = "text-danger" })
                </div>*@

                <div class="text-xs-center top" >
                    <button type="submit" class="btn btn-cyan" style="width:50%;">Create TaskData</button>
                </div>



            }
        </div>
    </div>
</div>

