
@model Omnae.ViewModels.PopulateRFQToVendorsViewModel

@{
    ViewBag.Title = "PopulateRFQToVendors";
}

<div class="row top grey-text">
    <div class="offset-md-2 col-md-8">
        <div class="card">
            <h4 class="card-header text-md-center primary-background-color white-text"><i class="far fa-hand-point-right"></i> Assign RFQ Bid to Vendors</h4>
            <div class="card-block">

                @using (Html.BeginForm("PopulateRFQToVendors", "TaskDatas", FormMethod.Post, new { id = "PopulateRFQToVendors", enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.ProductId)
                    @Html.HiddenFor(model => model.isEnterprise)

                    <div class="md-form">
                        @*@Html.DropDownListFor(model => model.VendorIds, ViewBag.VendorIdList as MultiSelectList, htmlAttributes: new { @class = "btn offset-md-2 col-md-8 grey-background-color dropdown-toggle", multiple = "multiple" })*@
                        @Html.DropDownListFor(model => model.VendorIds, (MultiSelectList)ViewBag.VendorIdList, new { @class = "btn pre-scrollable offset-md-2 col-md-8 text-md-left grey-background-color", multiple = "multiple", size = 6 })

                        @Html.ValidationMessageFor(model => model.VendorIds, "", new { @class = "text-danger" })
                    </div>


                    <div class="md-form text-xs-center col-md-12 top-margin-40">
                        <button type="submit" class="btn accent-background-color buttonWidth">Submit</button>
                    </div>

                }
            </div>
        </div>
    </div>
</div>

