@model Omnae.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

<div class="offset-md-2 col-md-8 top-margin-30">
    <div class="card">
        <h4 class="card-header primary-background-color white-text text-md-center"><i class="fas fa-key"></i> Change Password</h4>
        <div class="card-block">
            @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="md-form offset-md-2 col-md-8">
                    <i class="fa fa-lock prefix"></i>
                    @Html.LabelFor(m => m.OldPassword, new { @class = "control-label" })
                    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                </div>
                <div class="md-form offset-md-2 col-md-8">
                    <i class="fa fa-lock prefix"></i>
                    @Html.LabelFor(m => m.NewPassword, new { @class = "control-label" })
                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })

                </div>
                <div class="md-form offset-md-2 col-md-8">
                    <i class="fa fa-lock prefix"></i>
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })

                </div>
                <div class="text-xs-center">
                    <button type="submit" class="btn accent-background-color buttonWidth2 top-margin-50">Change password</button>
                </div>
            }
        </div>
    </div>
</div>
