@model Omnae.Models.SetPasswordViewModel
@{
    ViewBag.Title = "Create Password";
}

<div class="row top grey-text">
    <div class="offset-md-4 col-md-4">

        <div class="card-block">

            <h3 class="text-xs-center"><i class="fa fa-unlock fa-2x"></i> @ViewBag.Title</h3>
            <p class="card-text text-justify">
                You do not have a local username/password for this site. Add a local
                account so you can log in without an external login.
            </p>

            @using (Html.BeginForm("SetPassword", "Manage", FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                <h3><i class="fa fa-pencil fa-2x"></i> Create Local Login</h3>
                <br />

                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="md-form">
                    <i class="fa fa-lock prefix"></i>
                    @Html.LabelFor(m => m.NewPassword, new { @class = "control-label" })
                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })

                </div>
                <div class="md-form">
                    <i class="fa fa-lock prefix"></i>
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })

                </div>
                <div class="md-form text-xs-center">
                    <button type="submit" class="btn btn-cyan" style="width:50%;">Set password</button>
                </div>
            }
        </div>
    </div>
</div>

